#header {
	background: $dark-background;
}

#header .wrapper {
	display: flex;
}

#header nav {
	flex: 1;
}

#header nav a {
	color: #fff;
	padding: 10px 12px 18px;
	font-size: 12px;
	text-transform: uppercase;
	display: table-cell;
	font-family: Open Sans;
}

#header nav a:hover {
	background: $dark_background_hover;
	color: #fff;
}

#header nav a:nth-of-type(1):before {
	font-family: Glyphicons Halflings;
	position: relative;
	top: 3px;
	font-size: 14px;
	content: "\e104";
}

@each $color in $color-list {
	$index: index($color-list, $color);

	#header nav a:nth-of-type(#{$index}){
		@include nav_item($color);
	}
}

#top {
	background: $header_background;
	padding: 24px 0px 27px;
}

#top h1 {
	font-weight: 300;
	color: $header_color;
	font-size: 22px;
	display: inline-block;
	font-family: Roboto Slab;
}

#server-offline {
	background: lighten($dark_background, 10%);
	color: #fff;
	padding: 7px 0px;
	font-size: 12px;

	p {
		margin-bottom: 0px;
	}
}
