@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('/static/fonts/glyphicons-halflings-regular.eot');
	src: url('/static/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
		url('/static/fonts/glyphicons-halflings-regular.woff') format('woff'),
		url('/static/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
		url('/static/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/* Colors */

$red: #E03232;
$yellow: #F3D958;
$green: #27A438;
$blue: #669EFF;
$purple: #D061AD;

$color-list: $red $yellow $green $blue $purple;

$page_text_color: #666;
$header_color: #888;

$header_background: #f1f1f1;
$dark_background: #323232;
$dark_background_hover: #404040;
$literal_background: #f2f2f2;

$standard_border: #aaa;

$focus_border: #89B4FF;
$focus_shadow: #C1DAFF;

$invalid_border: #FF9D9D;
$invalid_shadow: #FFD1D1;

/* Others */

$wrap_width: 720px;
$standard_font_size: 14px;
$standard_line_height: 28px;
$standard_input_height: 12px;

$code_font_family: Consolas, 'Source Code Pro', Courier New, Menlo, monospace;

/* Mixins */

@mixin nav_item($color: $red) {
	box-shadow: 0px -4px 0px $color inset;
}