#manager {
    & > aside.info {
        margin-bottom: $standard_font_size;
    }

    aside .name {
        font-weight: 500;
        margin-right: 14px;
        min-width: 9em;
        display: inline-block;
    }

    #modifications {
        header {
            margin-bottom: $standard_font_size / 2;

            #add-new {
                font-size: 12px;
            }
        }

        margin-top: $standard_line_height;

        .mod {
            width: 100%;
            margin-bottom: $standard_font_size / 2;
            position: relative;

            &.enabled {
                border-left: 0.25em solid $green;
            }

            &.disabled {
                border-left: 0.25em solid $red;
            }

            &.pending {
                border-left: 0.25em solid $yellow;
            }

            .name, .val {
                display: table-cell;
                padding: 0.5em;
            }

            .name {
                min-width: 9.75em;
            }

            &.working:before {
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                content: '';
                background: rgba(255, 255, 255, 0.5);
            }
        }
    }
}
