#step_4bo aside:not(#not-owned) {
	text-align: center;
	padding-top: 5vw;
	position: relative;
	min-height: 20vw;
}

#step_4bo .glyphicon, #step_4bo .fa {
	color: $red;
}

#step_4bo aside > span {
	display: block;
	margin-bottom: 36px;
}
