@import 'fa/font-awesome.scss';
@import 'glyphicon.css';
@import 'helpers';

* {
	margin: 0px;
	padding: 0px;
	outline: none;
	font-family: Roboto;
	-webkit-font-smoothing: antialiased;
	-webkit-perspective: 1000;
}

html, body {
	font-size: $standard_font_size;
	height: 100%;
	color: $page-text-color;
}

body {
	display: flex;
	flex-flow: column;
}

h2, h3 {
	font-weight: 400;
	font-family: Open Sans;
}

a {
	text-decoration: none;
}

p {
	line-height: $standard_line_height;
}

p + p {
	margin-top: $standard_line_height;
}

code, pre, .literal {
	background: $literal_background;
	color: $red;
	display: inline-block;
	padding: 3px 5px;
	font-family: Courier New, Menlo, monospace;
	line-height: $standard_font_size;
}

code, pre {
	margin: 12px 0px;
}

.wrapper {
	max-width: $wrap_width;
	margin: 0px auto;
}

main {
	padding: $standard_line_height 0px;
	height: 100%;
	position: relative;
	overflow-x: hidden;
	flex: 2;
}

.form-input, .form-button, .alert, .literal, code, pre {
	border-radius: 3px;
}

@import 'header';
@import 'form';
@import 'alerts';
@import 'slides';
@import 'register';