@import 'fa/font-awesome.scss';
@import 'helpers';

* {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	font-family: Roboto;
	margin: 0px;
	outline: none;
	padding: 0px;
}

html, body {
	color: $page_text_color;
	font-size: $standard_font_size;
}

h1 {
	font-size: 32px;
	font-family: Roboto Slab;
	font-weight: 300;
}

h2, h3, h4 {
	font-weight: 500;
}

h2, h3 {
	border-bottom: 1px solid #ccc;
	color: #888;
	padding-bottom: $standard_font_size / 2;
}

h3 {
	font-family: 24px;
	* {
		font-weight: 400;
	}
}

header + p {
	margin-top: $standard_input_height !important;
}

hr {
	background: #ccc;
	border: none;
	height: 1px;
	margin: 20px 0px 24px;
	padding: 0px;
}

ul, ol {
	margin-bottom: $standard_font_size * 1.5;
	padding-left: $standard_line_height;

	li {
		line-height: $standard_line_height;
	}
}

img {
	border: 1px solid #ccc;
	margin-top: $standard_font_size;
}

b {
	font-weight: 500;
}

a {
	color: $red;
	text-decoration: none;
}

a:hover {
	color: darken($red, 30%);
}

p {
	line-height: $standard_line_height;
}

.wrapper {
	margin: 0px auto;
	max-width: $wrap_width;
}

main {
	padding: $standard_line_height 0px;
	position: relative;

	p {
		margin-bottom: ($standard_line_height - $standard_font_size);
		margin-top: -($standard_line_height - $standard_font_size) / 2;
	}

	p + p {
		margin-top: $standard_font_size * 1.5;
	}
}

.form-input, .form-button, .alert, .literal, .badge, code, pre, img {
	border-radius: 3px;
}

.status {
	min-height: 20vh;
	padding-top: 20vh;
	position: relative;
	text-align: center;

	& > span {
		display: block;
		margin-bottom: 36px;
	}

	& .glyphicon, & .fa {
		color: $red;
	}
}

.badge {
	bottom: 1px;
	box-sizing: border-box;
	color: #fff;
	font-size: 12px;
	height: $standard_font_size;
	padding: 3px 5px;
	position: relative;

	&.green {
		background: $green;
	}

	&.red {
		background: $red;
	}
}

@import 'code';
@import 'form';
@import 'alerts';
@import 'header';
@import 'slides';
@import 'manager';
@import 'docs';
@import 'home';
