@import 'fa/font-awesome.scss';
@import 'glyphicon.css';
@import 'github-gist.css';
@import 'helpers';

* {
	margin: 0px;
	padding: 0px;
	outline: none;
	font-family: Roboto;
	-webkit-font-smoothing: antialiased;
	-webkit-perspective: 1000;
	box-sizing: border-box;
}

html, body {
	font-size: $standard_font_size;
	height: 100%;
	color: $page-text-color;
}

body {
	display: flex;
	flex-flow: column;
}

h2, h3 {
	font-weight: 400;
	border-bottom: 1px solid #ccc;
	padding-bottom: 6px;
}

h3 {
	font-family: 24px;
	color: #888;
}

hr {
	background: #ccc;
	border: none;
	height: 1px;
	padding: 0px;
	margin: 24px 0px;
}

a {
	text-decoration: none;
	color: $red;
}

a:hover {
	color: darken($red, 30%);
}

p {
	line-height: $standard_line_height;
	margin-bottom: $standard_input_height;
}

p + p {
	margin-top: $standard_line_height;
}

.wrapper {
	max-width: $wrap_width;
	margin: 0px auto;
}

main {
	padding: $standard_line_height 0px;
	height: 100%;
	position: relative;
	overflow-x: hidden;
	flex: 2;
}

.form-input, .form-button, .alert, .literal, code, pre {
	border-radius: 3px;
}

@import 'code';
@import 'form';
@import 'alerts';
@import 'header';
@import 'slides';
@import 'register';
