@import 'fa/font-awesome.scss';
@import 'helpers';

* {
	margin: 0px;
	padding: 0px;
	outline: none;
	font-family: Roboto;
}

html, body {
	font-size: $standard_font_size;
	min-height: 100%;
	color: $page-text-color;
}

a {
	text-decoration: none;
}

p {
	line-height: $standard_line_height;
}

code, pre, .literal {
	background: $literal_background;
	color: $red;
	display: inline-block;
	padding: 3px 5px;
	font-family: Courier New, Menlo, monospace;
	line-height: $standard_font_size;

	p + & {
		margin-top: 8px;
	}
}

code, pre {
	margin-bottom: 4px;
}

.wrapper {
	max-width: $wrap_width;
	margin: 0px auto;
}

main {
	padding: $standard_line_height 0px;
	height: 100%;
	overflow-x: hidden;
}

.form-input, .form-button, .alert, .literal {
	border-radius: 3px;
}

@import 'header';
@import 'form';
@import 'alerts';
@import 'slides';