{% extends 'register/step.html' %}

{% import '_forms.html' as forms %}

{%set slide_id='step_1' %}

{% block content %}
<aside class="alert yellow">
	<p>Leaving the page before finishing will result in the loss of all progress.</p>
</aside>
<p>Want to use zbAction? Tell us about yourself.</p>
<form>
	<fieldset>
		{{ forms.input(label='Email Address', type='email', id='reg-email', required=True) }}
	</fieldset>
	<p>Are you a forum owner or a developer?</p>
	{{ forms.button(name='step_2bo', text='Forum Owner') }}
	{{ forms.button(name='step_2d', text='Developer') }}
</form>
{% endblock %}