{% extends 'register/step.html' %}

{%set slide_id='step_1' %}

{% block content %}
<aside class="alert yellow">
	<p>The registration process cannot be resumed if you leave this page.</p>
</aside>
<p>Want to use zbAction? Tell us about yourself.</p>
<form>
	<fieldset>
		<label>Email Address</label>
		<input type="email" class="form-input" id="reg-email" />
	</fieldset>
	<p>Are you a forum owner or a developer?</p>
	<button value="owner" class="form-button">Forum Owner</button>
	<button value="developer" class="form-button">Developer</button>
</form>
{% endblock %}