{% extends 'register/step.html' %}

{% import '_forms.html' as forms %}

{% set slide_id='step_4bo' %}
{% set hidden=False %}

{% block content %}
<aside id="status" class="status">
	<span class="glyphicon glyphicon-fire fa-5x"></span>
	<span>Please wait. We're preparing zbAction.</span>
</aside>
<aside id="not-a-board" class="hidden">
	<span class="fa fa-times fa-5x"></span>
	<span>The forum URL you entered is not valid.</span>
	{{ forms.button(name='step_3bo', color='red', text='Go Back', type='button') }}
</aside>
<aside id="not-owned" class="hidden status">
	<p>You must prove ownership of this forum. Place the code below in your board template's <span class="literal">Javascripts</span> section.</p>
	<form>
		<fieldset>
			{{ forms.input(value=gen_key_script, type='text', select=True) }}
		</fieldset>
		{{ forms.button(id='reg-retry', color='red', text='Retry', type='button') }}
	</form>
</aside>
<aside id="board-in-use" class="hidden status">
	<span class="fa fa-times fa-5x"></span>
	<span>This forum is already registered with zbAction. Log in to manage its settings.</span>
</aside>
<aside id="not-a-url" class="hidden status">
	<span class="fa fa-times fa-5x"></span>
	<span>Please enter a valid URL.</span>
	{{ forms.button(name='step_3bo', color='red', text='Go Back', type='button') }}
</aside>
{% endblock %}