{% extends 'register/step.html' %}

{% import '_forms.html' as forms %}
{% import '_code.html' as code %}

{% set slide_id='step_3bo' %}
{% set hidden=True %}

{% block content %}
<aside class="alert yellow">
	<p>
		This step may take several minutes depending on the size of your board.
	</p>
</aside>
<p>
	zbAction needs to know more about your board so it can work properly. For this step, make sure your board is accessible by guests and then enter its default URL. Don't know your board's default URL? You can find it in the ACP under: <span class="literal">Account Info -> Domain Manager -> Active Domain Names -> Default</span>.
</p>
<form>
	<fieldset>
		{{ forms.input(placeholder='http://sx.zetaboards.com/example', type='text', id='reg-board-url', required=True) }}
	</fieldset>
	{{ forms.button(name='step_4bo', color='red', text='Continue', type='submit') }}
</form>
{% endblock %}
