{% macro button(text='', color='', name='', id="", type='button') %}
	{% if type == 'button' %}
		<button type="submit" class="form-button {{ color }}" name="{{ name }}" value="{{ name }}" id="{{ id }}">
			<span class="fa fa-spin fa-spinner"></span>
			<span class="content">{{ text }}</span>
		</button>
	{% else %}
		<input type="{{ type }}" class="form-button {{ color }}" name="{{ name }}" value="{{ text }}" id="{{ id }}" />
	{% endif %}
{% endmacro %}

{% macro input(placeholder='', name='', type='text', id='', label='', value='', select=False, required=False, readonly=False) %}
	{% if label|trim|length %}
		<label>{{ label }}</label>
	{% endif %}
	{% if type == 'textarea' %}
		<textarea name="{{ name }}" class="form-input" id="{{ id }}" placeholder="{{ placeholder }}" required="{{ required }}" {{ 'readonly' if readonly else '' }}>{{ value }}</textarea>
	{% else %}
		<input type="{{ type }}" name="{{ name }}" class="{% if select %}select{% endif %} form-input" id="{{ id }}" placeholder="{{ placeholder }}" required="{{ required }}" value="{{ value }}" autocomplete="off" {{ 'readonly' if readonly else '' }}/>
	{% endif %}
{% endmacro %}
