{% extends 'template.html' %}

{% import '_forms.html' as forms %}

{% block title %}
Add New Modification
{% endblock %}

{% block content %}
<div class="wrapper" id="manager">
    <aside id="add-new-panel">
        <p>
            Enter a modification key.
        </p>
        <form>
            <fieldset class="top-down">
                {{ forms.input(id='new-mod-key', required=True) }}
            </fieldset>
            {{ forms.button(type='button', text='Continue', id='add-key-continue', color='red') }}
            <span id="add-mod-status"></span>
        </form>
    </aside>
    <aside class="hidden" id="confirm-panel">
        <p>
            Are you sure you want to add this modification?
        </p>
        <aside class="info">
            <span class="name">Modification Name</span>
            <span class="val" id="mod-name"></span>
        </aside>
        <aside class="info">
            <span class="name">Modification Key</span>
            <span class="val" id="mod-key"></span>
        </aside>
        {{ forms.button(text='Confirm', id='confirm-add', color='red') }}
        {{ forms.button(text='Cancel', id='cancel-add') }}
    </aside>
</div>
{% endblock %}

{% block scripts %}
<script>
var update_mod_keys_ep = {{ url_for('jobs.update_mod_keys', __form_key=get_form_key()) | tojson | safe }};
var get_mod_info_ep = {{ url_for('jobs.get_mod_info', __form_key=get_form_key()) | tojson | safe }};
var mods = {{ mods | tojson | safe }};
</script>
<script src="{{ url_for('static', filename='js/manager.js') }}"></script>
{% endblock %}
