{% extends 'template.html' %}

{% block title %}
Service Announcements
{% endblock %}

{% block content %}
    {% for post in posts %}
    <article class="post">
        <div class="wrapper">
            <header>
                <h2>
                    <a href="{{ url_for('announcements', id=post.id) }}">{{ post.title }}</a>
                    <span class="meta">Posted by 
                        <a href="https://forum.zbaction.reticent.io/u/{{ post.author }}">{{ post.author }}</a> 
                        on {{ post.timestamp.date() }}.
                    </span>
                </h2>
            </header>
        </div>
    </article>
    {% endfor %}
{% endblock %}

{% block scripts %}
{% endblock %}
