{% extends 'template.html' %}

{% import '_forms.html' as forms %}

{% block title %}
Log In to zbAction
{% endblock %}

{% block content %}
<div class="wrapper">
    <form action="{{ url_for('meta.try_login', __form_key=form_key) }}" method="POST">
            <fieldset class="top-down">
            {{ forms.input(label='Board Key', name='board-key', required=True) }}
        </fieldset>
        <fieldset class="top-down">
            {{ forms.input(type='password', label='Password', name='password', required=True) }}
        </fieldset>
        {{ forms.button(type='submit', text='Log In', color='red') }} <a href="{{ url_for('support') }}">Forgot your password?</a>
    </form>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
