{% extends 'template.html' %}

{% import '_forms.html' as forms %}

{% block title %}
Account Manager
{% endblock %}

{% block content %}
<div class="wrapper" id="manager">
    <aside class="info">
        <span class="name">Board Key</span>
        <span class="val">{{ forum.board_key }}</span>
    </aside>
    <aside class="info">
        <span class="name">Status</span>
        <span class="val">
            {% if forum.enabled %}
                <span class="badge green">
                    Enabled
                </span>
            {% else %}
                <span class="badge red">
                    Disabled
                </span>
            {% endif %}
        </span>
    </aside>
    <aside class="info">
        <span class="name">Current Board URL</span>
        <span class="val">
            <a href="{{ forum.real_location }}">
                {{ forum.real_location }}
            </a>
            <a href="javascript: void(0);" id="edit-board-url">(Edit)</a>
        </span>
    </aside>
    <aside class="info">
        <span class="name">Default Board URL</span>
        <span class="val">
            <a href="{{ forum.bare_location }}">
                {{ forum.bare_location }}
            </a>
        </span>
    </aside>
    <aside id="modifications">
        <header>
            <h3>
                Modifications
                <a href="{{ url_for('manager.add_mod') }}" id="add-new">Add New Modifcation</a>
            </h3>
        </header>
        {% for mod in mods %}
            <div class="mod {% if mod.enabled and mod.root_enabled %}enabled{% else %}disabled{% endif %}" id="{{ mod.api_key }}">
                <aside>
                    <span class="name">Modification Name</span>
                    <span class="val">{{ mod.name if mod.name else 'N/A' }}</span>
                </aside>
                <aside>
                    <span class="name">Modification Key</span>
                    <span class="val">{{ mod.api_key }}</span>
                </aside>
                <aside>
                    <span class="name">Responsible For</span>
                    <span class="val">{{ mod.count }} Action(s)</span>
                </aside>
                <aside>
                    <a href="javascript:void(0);" class="val remove">Remove</a>
                </aside>
            </div>
        {% endfor %}
    </aside>
</div>
{% endblock %}

{% block scripts %}
<script>
var update_mod_keys_ep = {{ url_for('jobs.update_mod_keys', __form_key=get_form_key()) | tojson | safe }};
var update_board_url_ep = {{ url_for('jobs.update_board_url', __form_key=get_form_key()) | tojson | safe }};
</script>
<script src="{{ url_for('static', filename='js/manager.js') }}"></script>
{% endblock %}
