<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}zbAction{% endblock %}</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Roboto+Slab:400,100,300,700|Roboto:400,500|Source+Code+Pro:400,700,500' rel='stylesheet' type='text/css'>
		<link href="{{ url_for('static', filename='css/glyphicon.css') }}" rel="stylesheet" />
		<link href="{{ url_for('static', filename='css/github-gist.css') }}" rel="stylesheet" />
		<link href="{{ url_for('static', filename='css/zba.css') }}" rel="stylesheet" />
		<link href="{{ url_for('static', filename='css/zba.css') }}" rel="stylesheet" />
	</head>
	<body>
		{% if not server_online %}
		<aside id="server-offline">
			<div class="wrapper">
				<p>
					<span></span>The zbAction server is currently offline. It should be back up within 12 hours.
				</p>
			</div>
		</aside>
		{% endif %}
		{% include '_header.html' %}
		<header id="top">
			<div class="wrapper">
				<h1>{{ self.title() or 'zbAction' }}</h1>
			</div>
		</header>
		<main>
			{% with messages = get_flashed_messages(with_categories=True) %}
				{% if messages %}
					<div class="wrapper">
						{% for category, message in messages %}
						<aside class="alert {{ category }}">
							<p>
								{{ message }}
							</p>
						</aside>
						{% endfor %}
					</div>
				{% endif %}
			{% endwith %}
			{% block content %}{% endblock %}
		</main>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>
		<script src="{{ url_for('static', filename='js/jquery.highlight.js') }}"></script>
		<script src="{{ url_for('static', filename='js/script.js') }}"></script>
		{% block scripts %}{% endblock %}
	</body>
</html>
