<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
$.zb = {
	stat: {
		mid: '0',
		bpath: '6118302'
	}
};

window.__zbAction = {
	board_key: 'dev'
};
</script>
<div id="top_info">
	<strong>
		<a href="/profile/">dev</a>
	</strong>
</div>
<script src="{{ url_for('static', filename='socket.js') }}"></script>
<script src="{{ url_for('static', filename='zb.action.js') }}"></script>
<script>
function test(zbAction){
	console.log('connected');
}

zbAction.ready('19fef61b-333d-4c32-9e44-28c04edf6dae', test);
</script>