<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
$.zb = {
	stat: {
		mid: {{ uid }},
		bpath: '42'
	}
};

window.__zbAction = {
	board_key: 'dev'	
};
</script>
<script src="{{ url_for('static', filename='socket.js') }}"></script>
<script src="{{ url_for('static', filename='zb.action.js') }}"></script>
<script>
function test(zbAction){
	zbAction.register('testing', function(data){
		console.log(data);
	});

	zbAction.send({
		event: 'testing',
		details: 'test',
		receiver: {
			uid: 71 // $.zb.stat.mid
		}
	});
}

zbAction.ready('0', test);
</script>